
<div class="container">
  <div class="card"
     *ngIf="product">
     <div class="card-header"><h2 class="text-center">{{pageTitle}}</h2></div>
      <div class="card-body">
      <form [formGroup]="addProduct"
       (ngSubmit)="saveProduct(product)">
        <div class="form-group">
          <label for="name">Product Name:</label>
          <input type="text" formControlName="name"
          placeholder="Product name"

          name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="price">Code:</label>
          <input type="text" formControlName="code"
           placeholder="code"
           name="code" class="form-control" id="code">
        </div>





        <div class="form-group">
          <label for="image">Image:</label>
          <input  type="text" formControlName="image"
          placeholder="Product image" name="image" class="form-control" id="image">
        </div>


        <div class="form-group">
          <label for="qty">Quantity:</label>
          <input  type="number" formControlName="qty"
          placeholder="Product qty" name="qty" class="form-control" id="qty">
        </div>


        <div class="form-group">
          <label for="price">Price:</label>
          <input  type="number" formControlName="price"
          placeholder="Product Price" name="price" class="form-control" id="price">
        </div>




        <button class="btn btn-danger" type="button"
        (click)="deleteProduct(product)">Delete Product</button>
        <button [disabled]='!addProduct.valid ||!addProduct.dirty' class="btn btn-success">Save Product</button>
      </form>
      </div>
      <div class='alert alert-danger' *ngIf="errorMessage">
        Error : {{errorMessage}}
      </div>
    </div>
    </div>
